header{ 
    background-color: maroon; color: white;
     position: sticky;
       top: 0;
    font-family: Proxima Nova
; font-size: 20pt;
    text-align: center;
       padding-top:5px;
       padding-bottom:5px;
}

.topnav{ overflow: hidden;
  background-color: maroon;
    padding-top: 5px ;
    width:100%; color: white;
        margin: 0px;

}

.topnav a{ 
    font-family: Proxima Nova;
          margin: 10px; text-decoration: none;
  float: left;
  color: white;
  text-align: center;
    font-family: Proxima Nova;
  padding: 20px;
padding-bottom: 5px;
  font-size: 20px;
}

.topnav a:hover{
  background-color: #ffcc33;
  color: black;
}

.topnav a.active{
  background-color: #ffcc33;
  color: black;
}

h1{ margin: 25px;
    padding-top: 20px;
        font-family: Proxima Nova; font-size: 30pt;
}

h2{ margin: 25px; font-family: Proxima Nova; font-size: 28;
  }

h3{ margin: 25px; font-family: Proxima Nova;
    font-size: 20pt;
}

body{ margin: 0;
    font-family: Proxima Nova
    ; font-size: 16pt;
    line-height: 1.5;
    }

p{ margin: 50px;
 }

ul{ margin: 50px; }

footer{ position: fixed;
       bottom: 0;
       margin-top: 20px;
    background-color: maroon;
    color: white
    ; font-family: Proxima Nova
    ; font-size: 14pt;
    text-align: center;
    padding: 8pt;
    width: 100%;
}
