header{ background-color: maroon; color: white;
    position: sticky;
       top: 0;
    font-family: Proxima Nova
; font-size: 20pt;
       padding-top: 10px;
       padding-bottom: 15px;
       padding-left: 25px;
       padding-right: 25px;
      text-align: center;
      }

.topnav{ overflow: hidden;
  background-color: maroon;
    padding-top: 5px ;
    width:100%; color: white;
        margin: 0px;
}

.topnav a{ margin: 10px; text-decoration: none;
  float: left;
  color: white;
  text-align: center;
    font-family: Proxima Nova;
  padding: 20px;
padding-bottom: 5px;
  font-size: 20px;
}

.topnav a:hover{
  background-color: #ffcc33;
  color: black;
}

.topnav a.active{
  background-color: #ffcc33;
  color: black;
}

h1{ margin: 35px;
    padding-top: 20px;
   text-align: center;
        font-family: Proxima Nova; font-size: 30pt;
}

h2{ margin: 35px; font-family: Proxima Nova; font-size: 28;  padding-left: 170px;
  }

h3{ margin: 35px; font-family: Proxima Nova;  padding-left: 170px;
    font-size: 20pt;
}

body{ margin: 0;
    font-family: Proxima Nova
    ; font-size: 16pt;
    line-height: 1.5;
    }

p{ margin: 50px; padding-right: 159px; padding-left: 190px;
 }

ul{ margin: 50px; padding-right: 190px; padding-left: 220px;}

ol{ margin: 50px; padding-right: 190px; padding-left: 220px;}


figure{ padding-left: 190px;}


footer{ 
       margin-top: 20px;
    background-color: maroon;
    color: white;
    font-family: Proxima Nova
    ; font-size: 14pt;
    text-align: center;
    padding: 8pt;
    width: 100%;
}
